build
bin
.gradle
.idea
out
*.iml
*.ipr
*.iws
.env
logs/
.DS_Store
.project
.settings
.vscode
*.icloud
node_modules/
serviceAccountKey.json
src/main/resources/application-dev.properties
src/main/resources/application-stage.properties
src/main/resources/data.sql
src/main/resources/schema.sql
src/test/*
logs/spring-boot-logger-log4j2.log
node_modules/
src/main/resources/static/dist/
src/main/resources/static/dist/index.bundle.js


